/* Navbar Content Styles */

.colorModeToggle {
  margin-right: 0.5rem;
}

.authContainer {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  z-index: var(--z-navbar);
}

@media (max-width: 996px) {
  .authContainer {
    margin-left: 0.5rem;
    display: flex !important;
    position: relative;
    order: 10;
  }
}